
.navLogo{
    height: 40px;
}
.nav-link{
    margin-left:30px;
    font-size:17px !important;
    line-height: 2.5;
    font-weight: 600;
}
.mainButton{
    transition:0.3s;
    width: 120px;
    height: 50px;
    border:0;
    outline: 0;
    border-radius: 40px;
    background-color:#21BF73;
    color:white;
}
.mainButton:hover{
  background-color:#169156;
}
.navbar-light {
    background: transparent !important;

}
.navbar-toggler .navbar-toggler-icon {
    background-image: red !important;
}
.navigationBtn{
    margin-left: 40px;
}

.MainNavbar{
    width: 100%!important;
    z-index: 99999999;
    left:0;
    right:0;
    top: -20px;
    position: relative;
    position:sticky;
    height: 86px;
    transition: all ease-in-out 0.5s;
    background-color: transparent;
}

.activeNav{
    background-color:#fff;
    top:0px;
   padding-top: 5px;
   padding-bottom:5px !important;
}
