.expertise_area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3%;
}
/* .expertise >svg{
   padding:0 10px !important;
} */

.expertise{
    background:#fff;
    border-radius: 5px;
    padding:30px !important;
    /* border: 1px solid red; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.iconAndServiceName{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}
.iconAndServiceName>h4:first-child{
    margin-right: 10px;
}
.practiceAreaP{
    width:70%;
    margin:0 auto;
}