.footer{
    background-color:#B0EACD;
    background-size: content;
}
.footer_content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5%;
}
.footer_socialIcon>svg{
    color:rgb(24, 25, 37);
    background-color:#fff;
    font-size:35px;
    padding:10px;
    border-radius: 50%;
    margin: 0 2px;
}
.footer_socialIcon>svg:first-child{
    color:#fff;
    background-color:#21BF73;
}
